<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Account Settings</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div id='mainContent'>
  <h1>Note Dream</h1> <!-- Title above the taskbar -->
  <div class="taskbar">
    <div class="task">
      <a>Account Settings</a>
      <a href="/" class="home-link">Back to Homepage</a>
    </div>
  </div>
    <hr>
    <div class="profile-section">
        <img src="/images/{{picture}}" alt="profilePicture" class="profile-picture">
        <a href='/users/change-profile-pic' class="change-pic-link">Change Profile Picture</a>
        {{#each details}}
        <div class="user-details">
            <p><strong>Name:</strong> {{this.name}}</p>
            <p><strong>Username:</strong> {{this.username}}</p>
            <p><strong>Email Address:</strong> {{this.email}}</p>
        </div>
        {{/each}}
    </div>
    <hr>
    <div class="password-section">
        <a href='/users/change-password' class="password-link">Change Password</a>
        <a href='/users/change-name' class="password-link">Change Name</a>
        <a href='/users/change-email' class="password-link">Change Email</a>
        <a href='/users/change-username' class="password-link">Change Username</a>
    </div>
</div>
</body>
</html>