<div id='mainContent'>
  <!-- Content -->
    <h1>Note Dream</h1>
    <!-- Title above the taskbar -->
    <div class='taskbar'>
      <div class='task'>
        {{#if user}}
          Public Playlists
          <a href='/users/accountSettings'>Account Settings</a>
          <a href='/'>Home Page</a>
        {{else}}
          Public Playlists
          <a href='/users/login'>Log In</a>
          <a href='/users/register'>Sign Up</a>
        {{/if}}
      </div>
    </div>

    <!-- Add space between table and taskbar -->
    <div style='margin-top: 40px;'></div>

    <table class='table'>
        <tr>
          <th>Name</th>
          <th>Created By</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each playlists}}
        <tr>
          <td>{{playlist_name}}</td>
          <td>{{user_id}}</td>
          <!-- Change button style to black and white -->
          <td><a href='/users/viewplaylist/{{playlist_id}}' class='btn btn-outline-dark'>View Playlist</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
