<div id='mainContent'>
  <h1>Note Dream</h1>
  <div class="taskbar">
    <div class="task">
      <a>Change Profile Picture</a>
      <a href='/users/accountSettings' class="home-link">Back to Account Settings</a>
    </div>
  </div>

  {{#each errors}}
    <div class='alert alert-danger'>
      {{this}}
    </div>
  {{/each}}
  <hr>
  <label for="currentProfilePic">Current Profile Picture</label>
  <img src="/images/{{picture}}" alt="profilePicture" class="current-profile-picture">
  <hr>
  <label for="newProfilePicOption">Choose a new profile picture</label>
  <form method="POST">
    <div class="profile-pictures">
      <input type="radio" id="photo1" name="selectedPhotoId" value="1">
      <label for="photo1"><img src="/images/profilePicture1.jpg" alt="Profile Picture 1" class="profile-picture"></label>
      <input type="radio" id="photo2" name="selectedPhotoId" value="2">
      <label for="photo2"><img src="/images/profilePicture2.jpg" alt="Profile Picture 2" class="profile-picture"></label>
      <input type="radio" id="photo3" name="selectedPhotoId" value="3">
      <label for="photo3"><img src="/images/profilePicture3.jpg" alt="Profile Picture 3" class="profile-picture"></label>
      <input type="radio" id="photo4" name="selectedPhotoId" value="4">
      <label for="photo4"><img src="/images/profilePicture4.jpg" alt="Profile Picture 4" class="profile-picture"></label>
    </div>
    <button class='btn btn-danger' type='submit'>Submit</button>
  </form>
</div>
