<div id='mainContent'>
  <h1>Note Dream</h1> <!-- Title above the taskbar -->
  <div class="taskbar">
    <div class="task">
      <a>Change Profile Email</a>
      <a href='/users/accountSettings' class="home-link">Back to Accont Setting</a>
    </div>
  </div>

  {{#each errors}}
    <div class='alert alert-danger'>
      {{this}}
    </div>
  {{/each}}
  <hr>
  <label for="currentProfilePic">Current Profile Email: {{email}}</label>
  <hr>
  <form method='post'>
    <div class='form-group'>
      <label for='email'>New Profile Email</label>
      <input class='form-control' id='email' name='email' />
    </div>
    <button class='btn btn-danger' type='submit'>Submit</button>
  </form>
</div>