<div class='container'>
  <h1>Change Profile Name</h1>
  {{#each errors}}
    <div class='alert alert-danger'>
      {{this}}
    </div>
  {{/each}}
  <hr>
  <label for="currentProfilePic">Current Profile Name: {{name}}</label>
  <hr>
  <form method='post'>
    <div class='form-group'>
      <label for='name'>New Profile Name</label>
      <input class='form-control' id='name' name='name' />
    </div>
    <button class='btn btn-danger' type='submit'>Submit</button>
  </form>