<div id='mainContent'>
  {{#if user}}
    Welcome,
    {{user.username}}.
    <a href='/users/logout'>Log Out</a>
    <a href='/users/change-password'>Account Settings</a>
  {{else}}
    <a href='/users/login'>Log In</a>
    <a href='/users/register'>Sign Up</a>
  {{/if}}
  {{#each errors}}
    <div class='alert alert-danger'>
      {{this}}
    </div>
  {{/each}}
  
  {{#if user}}
    <a href='/users/playlist' class='btn btn-outline-info'>Go to Playlists</a>
  {{/if}}
</div>