<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='#' />
    <script src='/javascripts/musicdatabase.js'></script>
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>