<body>
  <h1><strong>Playlist</strong></h1>
  {{#each errors}}
    <div class='alert alert-danger'>
      {{this}}
    </div>
  {{/each}}
  {{#if playlistID}}
    <a
      href='/users/editplaylist/{{playlistID}}'
      class='btn btn-outline-info'
    >Edit Playlist</a>
    <p>
      Currently showing playlist with ID:
      {{playlistID}}.
    </p>
  {{/if}}
</body>